* {
    text-align: center;
    background-color: burlywood;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

.yakisoba {
    width: auto;
    height: 400px;
}

h3 {
    font-size: 50px;
    font-weight: 500;
}

p, li {
    font-size: 25px;
    font-weight: 300;
}